body{
    background-color: #F0F1F5;
    margin: 0;
    padding: 2rem 12rem;
    font-family: "Helvetica", sans-serif;
}
header > p{
    float: left;
    color: orange;
}
nav{
    text-align: right;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    padding: 0 5px;
}
nav ul li a{
    color:orange ;
    text-decoration: none;
}
main section:nth-child(1){
    margin-top: 3rem;
    background-image: url("../Requirements-and-Resources/Images/picture.jpg");
    background-size: cover;
    background-position: center;
    padding: 11rem 20rem;
}
main section:nth-child(1) h1{
    color: white;
}
main section:nth-child(1) span{
    color: orange;
}
main section:nth-child(1) button{
    background: orange;
    border: none;
    color: white;
    font-size: 22px;
    padding: 12px;
    font-weight: bold;

}
main section:nth-child(2) article{
     background: orange;
     color: white;
     width: 28%;
     display: inline-block;
     padding: 28px;
}
main section:nth-child(2) article h3{
    text-align: center;
}
footer {
    margin: 0;
    padding: 30px 0 10px 0; 
}

footer p {
    float: left;
    width:70%;
}
  
footer ul li{
    width: 5%;
    display: inline-block;
    text-align: right;
}
  
footer a i {
    color: black;
}